:root {
    --gray: #656b74;
    --objectclr: #B1B2B5;
    --transsprnt: #00000000;
    --element-shadow: 2px 2px 7px 7px rgb(88, 88, 88);
    }
    
    body {
        background: var(--gray);
    }
    
    header {
        display: flex;
        height: 50px;
        padding: 0 5vw;
        justify-items: center;
        align-items: center;
    }

    .nav-link {
        display: inline-flex;
        color: black;
        text-decoration: none; 
        margin: 1.25vw;
    }

    .search input[type=text] {
        width: 250px;
        height:25px;
        border-radius:25px;
        border: none;
    }

    .search {
        display: inline-flex;
        margin: 1.25vw 0 1.25vw auto
    }
    
    .center-container {
        margin: 0 auto;
    }
    
    #center, header {
        margin: 0 5vw;
        align-items: center;
        justify-items: center;
    }
    
    
    #artist-today {
        height: 700px;
    }
    
    .featured-artist {
        display: inline-block;
        background-color: var(--objectclr);
        width: 27.25vw;
        height: 320px;
        margin: 1.25vw;
        border-radius: 10px;
        box-shadow: var(--element-shadow);
    }
    
    .featured-art {
        display: inline-block;
        background-color: var(--objectclr);
        width: 57.25vw;
        height: 320px;
        border-radius: 10px;
        margin: 1.25vw;
        box-shadow: var(--element-shadow);
    }
    
    .other-featured-art-container {
        display: flex;
        align-items: center;
        width: 100%;
        overflow-y: hidden;
        height: 180px;
        max-height: 180px;
    }
    
    .other-featured-art {
        display: inline-block;
        background-color: var(--objectclr);
        height: 150px;
        width: 27.5vw;
        min-width: 27.5vw;
        margin: 1.25vw;
        border-radius: 10px;
        box-shadow: var(--element-shadow);
    }
    
    section {
        margin: 100px 0;
    }
    
    .scroll-container {
        display: flex;
        align-items: center;
        width: 100%;
        overflow-y: hidden;
        height: 300px;
        max-height: 300px;
    }
    
    .page-title {
        font-size: 40px;
        text-align: center;
    }
    
    .section-title {
        font-size: 34px;
    }
    
    .preview {
        display: inline-block;
        background-color: var(--objectclr);
        height: 250px;
        width: 27.5vw;
        min-width: 27.5vw;
        margin: 1.25vw;
        border-radius: 10px;
        box-shadow: var(--element-shadow);
    }
    
    .about-me {
        display: inline-block;
        background-color: var(--objectclr);
        height: 320px;
        width: 660px;
        margin: 20px;
        border-radius: 10px;
        box-shadow: var(--element-shadow);
    }
    
    footer {
        padding: 0 5vw;
        height: 350px;
        background-color: var(--objectclr);
    }
    

@media (min-width: 576px) {

}


@media (min-width: 768px) {

}


@media (min-width: 992px) {

}


@media (min-width: 1200px) {

}


@media (min-width: 1400px) {

}
