$gray: #4d4f52;
$objectclr: #B1B2B5;
$transsprnt: #00000000;

body {
    background: $gray;
    margin: 0 10vw;
}

header {

}

.herosection {

}

.artistoftheday {
    background-color: $objectclrS;
}

footer {

}

