:root {
--gray: #656b74;
--objectclr: #B1B2B5;
--transsprnt: #00000000;
}

body {
    background: var(--gray);
    margin: 0 7vw;
}

header {
    height: 40px;
}

section {
    margin: 20px 0;
    height: 600px;
    overflow-x: auto;
}

.page-title {
    font-size: 40px;
    text-justify: center;
}

.section-title {
    font-size: 30px;
}

.artistoftheday {
    background-color: var(--objectclr);
    height: 400px;
}

.art-preview {
    display: inline-block;
    background-color: var(--objectclr);
    height: 200px;
    width: 350px;
}

.artist-preview {
    display: inline-block;
    margin: 0 25px;
    background-color: var(--objectclr);
    height: 200px;
    width: 200px;
    border-radius: 25%;
}

footer {
    height: 350px;
    background-color: var(--objectclr);
}

