$gray: #4d4f52;
$objectclr: #B1B2B5;
$transsprnt: #00000000;

body {
    background: $gray;
    margin: 0 10vw;
}

header {
    height: 10vh;
}

section {
    height: 600px;
}

.sectiom-title {
    font-size: 30px;
}

.artistoftheday {
    background-color: $objectclrS;
    height: 400px;
}

.art-preview, .artist-preview {
    background-color: $objectclr;
    height: 200px;
    width: 350px;
}

footer {
    height: 35vh;
}

